
<div class="cart">
    <h1> Your cart </h1>

    <ul class="items"> 
        <% @cart.line_items.each do |item| %>
            <li class="product-<%= item.product.id %>"> 

                <span class="quantity"> 
                    <%= item.quantity %>
                </span>

                <%= link_to item.product.name, product_path(item.product) %>
                <%= item.unit_price %>
                
                <span class="total"> 
                    <%= item.price %>
                </span>
                
                <%= button_to "X", remove_from_cart_path, method: :delete, params: {product_id: item.product.id} %>
            
            </li>
        <% end%>
    </ul>
    <div class="apply-coupon"> 
        <%= form_with(url: update_cart_path, method: :patch) do |form| %> 
            <%= form.text_field :coupon_code %>
            <%= form.submit "Apply coupon" %>
        <% end %>
    </div>
    <div class="totals">
        <% if @cart.discount != 0 %>
            <span class="order-subtotal">
                <%= @cart.totals(:subtotal) %>
            </span>
            <span class="order-discount">
                -<%= @cart.totals(:discount) %>
            </span>
        <% end %>
        <span class="order-total">
            <%= @cart.totals(:total) %>
        </span>
    </div>
</div>